<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxinhui.text.myapplication">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permissionn.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".YuXinHuiApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".YinDaoTu.YinDaoTuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YinDaoTu.GuideActivity" />
        <activity android:name=".IndexBannerClick.KeBiaoActivity" />
        <activity android:name=".IndexBannerClick.HanDanActivity" />
        <activity android:name=".IndexBannerClick.RiLiActivity" />
        <activity android:name=".IndexBannerClick.GuPiaoActivity" />
        <activity android:name=".IndexBannerClick.HuiLvActivity" />
        <activity android:name=".IndexBannerClick.LaoShiActivity" />
        <activity android:name=".IndexBannerClick.ZhiboActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".IndexBannerClick.AboutUsActivity" />
        <activity android:name=".IndexBannerClick.AdviceCommitActivity" />
        <activity android:name=".IndexBannerClick.VersionINfoActivity" />
        <activity android:name=".IndexBannerClick.MsgSettingActivity" />
        <activity android:name=".IndexBannerClick.MianDaRaoActivity"></activity>
        <activity android:name=".IndexBannerClick.ShenGuActivity"/>
        <activity android:name=".Actiity.Zhuce" />
        <activity android:name=".Actiity.KaiHu" />
        <activity android:name=".Actiity.Denglu" />
        <activity android:name=".Actiity.ZhuCeXiangQing" />
        <activity android:name=".Actiity.GupiaoMessage"/>
        <activity android:name=".Actiity.SplashActivity"/>
        <activity android:name=".Actiity.PlayVideoActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>