<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxinhui.text.myapplication">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permissionn.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".YinDaoTu.YinDaoTuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actiity.BannerGuideActivity"/>
        <activity android:name=".YinDaoTu.GuideActivity" />
        <activity android:name=".Actiity.Zhuce" />
        <activity android:name=".Actiity.KaiHu" />
        <activity android:name=".HangQingActivity.GlobalCurrency"/>
        <activity android:name=".IndexBannerClick.KeFuActivity" />
        <activity android:name=".IndexBannerClick.KeBiaoActivity" />
        <activity android:name=".IndexBannerClick.HanDanActivity" />
        <activity android:name=".IndexBannerClick.WeiPanActivity" />
        <activity android:name=".IndexBannerClick.GuPiaoActivity" />
        <activity android:name=".IndexBannerClick.HuiLvActivity" />
        <activity android:name=".IndexBannerClick.LaoShiActivity" />
        <!--<activity android:name=".IndexBannerClick.ZhiboActivity"/>-->
        <activity android:name=".Actiity.KaiHuRenZheng" />
        <activity android:name=".Actiity.Denglu" />
        <activity android:name=".Actiity.ZhuCeXiangQing" />
        <activity android:name=".MainActivity" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>